#work {
    display: flex;
    padding: 100px;
}

#work .photo .carte {
    position: relative;
    font-family: 'gt', sans-serif;
    width: 500px;
    height: 500px;
    background-color: #dc7aff;
    border-radius: 60px;
    text-align: right;
    transition: 0.3s;
    text-decoration: none;
}

#work .photo .carte {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
}

#work .photo .svg {
    position: relative;
    margin-bottom: -10%;
    margin-left: 20%;
    transform: rotate(-15deg);
    height: 70px;
    fill: #fff;
    z-index: 100;
}

#work .photo .carte .text {
    width: 100%;
}

#work .photo .carte .text h1, p {
    color: #364442;
    position: relative;
    right: 30px;
    top: 10px;
}

#work .photo .carte .text h1 {
    font-family: 'acorn', sans-serif;
    margin-top: -10px;
    font-size: 2.5em;
}

#work .photo .carte .img {
    width: 200%;
    position: relative;
    left: 70%;
    top: 10%;
    transition: 0.3s;
}


#work .photo .carte:hover {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}

#work .photo .carte:hover .img {
    top: 15%;
    filter: drop-shadow(0 0 80px rgba(0, 0, 0, 0.2));
}